node_red/marstek_api.json
[{"id":"c4b9c6d2a7c4479c","type":"tab","label":"marstek","disabled":false,"info":"","env":[]},{"id":"e5117673a075193c","type":"http request","z":"c4b9c6d2a7c4479c","name":"Get Token","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu.hamedata.com/app/Solar/v2_get_device.php?pwd={{{md5pwd}}}&mailbox={{{mailbox}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":570,"y":160,"wires":[["bb6f7019e5f844f9","2f9cbeb537cd2607"]]},{"id":"fdd5abdbfd8c3c43","type":"inject","z":"c4b9c6d2a7c4479c","name":"Every 10 Minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/10 0-23 * * *","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["e2849b96761d3c9e"]]},{"id":"bb6f7019e5f844f9","type":"debug","z":"c4b9c6d2a7c4479c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":160,"wires":[]},{"id":"2f9cbeb537cd2607","type":"function","z":"c4b9c6d2a7c4479c","name":"","func":"msg.token = msg.payload.token;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":220,"wires":[["6496f9a3706d44d7"]]},{"id":"6496f9a3706d44d7","type":"http request","z":"c4b9c6d2a7c4479c","name":"Get DevId","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://eu.hamedata.com/app/Solar/v2_get_deviceinfo.php?mailbox={{{mailbox}}}&token={{{token}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":560,"y":220,"wires":[["d46b9f683898e972","07db7c0871836c95","41a35ff7954dd3e8"]]},{"id":"d46b9f683898e972","type":"debug","z":"c4b9c6d2a7c4479c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":220,"wires":[]},{"id":"41a35ff7954dd3e8","type":"function","z":"c4b9c6d2a7c4479c","name":"Check request success","func":"if(msg.payload.code === \"1\"){\n    return [msg, null];\n}else{\n    return [null, msg]\n}\n\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":440,"wires":[["17fee3cd8a4189c2"],["326c41c475157f35"]]},{"id":"326c41c475157f35","type":"debug","z":"c4b9c6d2a7c4479c","name":"Error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","statusVal":"","statusType":"auto","x":790,"y":500,"wires":[]},{"id":"17fee3cd8a4189c2","type":"debug","z":"c4b9c6d2a7c4479c","name":"OK","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":420,"wires":[]},{"id":"b7a3487825644b84","type":"http request","z":"c4b9c6d2a7c4479c","name":"Get Info","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://eu.hamedata.com/ems/api/v2/getFiveDayscharge_power_day?devid={{{devid}}}&date={{{date}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":560,"y":280,"wires":[["9a081a3d4d1602d1","df1bf91157800d2a"]]},{"id":"4eda9a724ee60c25","type":"debug","z":"c4b9c6d2a7c4479c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":360,"wires":[]},{"id":"07db7c0871836c95","type":"function","z":"c4b9c6d2a7c4479c","name":"","func":"msg.devid = msg.payload.data[0].devid;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":280,"wires":[["909c9b767583fe52"]]},{"id":"b8ae01c5d559c01a","type":"function","z":"c4b9c6d2a7c4479c","name":"LOGIN credentials","func":"//LOGIN credentials Marstek\nmsg.mailbox = \"my_email_login_marstek\";\nmsg.password = \"MyPassword\";\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":80,"wires":[["5bfee88f47102c8a"]]},{"id":"5bfee88f47102c8a","type":"md5","z":"c4b9c6d2a7c4479c","name":"","fieldToHash":"password","fieldTypeToHash":"msg","hashField":"md5pwd","hashFieldType":"msg","x":770,"y":80,"wires":[["e5117673a075193c"]]},{"id":"285cf8d168433ac5","type":"comment","z":"c4b9c6d2a7c4479c","name":"node-red-contrib-md5","info":"","x":820,"y":40,"wires":[]},{"id":"1bec5f838323b97e","type":"comment","z":"c4b9c6d2a7c4479c","name":"Change ","info":"","x":530,"y":40,"wires":[]},{"id":"909c9b767583fe52","type":"function","z":"c4b9c6d2a7c4479c","name":"time and date","func":"const now = new Date();\nconst year = now.getFullYear();\nconst month = String(now.getMonth() + 1).padStart(2, '0'); // maanden zijn 0-based\nconst day = String(now.getDate()).padStart(2, '0');\nconst date = `${year}-${month}-${day}`;\n\nmsg.date = date;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":280,"wires":[["b7a3487825644b84"]]},{"id":"9a081a3d4d1602d1","type":"function","z":"c4b9c6d2a7c4479c","name":"Keep only last data","func":"const data = msg.payload.data;\n\n// Get the last item\nconst lastObject = data[data.length - 1];\n\n// Split `vol_c` and add as individual keys\nif (lastObject.vol_c) {\n    const temps = lastObject.vol_c.split(',').map(Number);\n    temps.forEach((value, index) => {\n        lastObject[`volt_c_${index + 1}`] = value;\n    });\n}\ndelete lastObject.vol_c;\n\n// Split `tem_c` and add as individual keys\nif (lastObject.tem_c) {\n    const temps = lastObject.tem_c.split(',').map(Number);\n    temps.forEach((value, index) => {\n        lastObject[`temp_c_${index + 1}`] = value;\n    });\n}\ndelete lastObject.tem_c;\n\nmsg.payload = lastObject;\nmsg.topic = \"marstek_m1\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":360,"wires":[["4eda9a724ee60c25"]]},{"id":"df1bf91157800d2a","type":"debug","z":"c4b9c6d2a7c4479c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":280,"wires":[]},{"id":"e2849b96761d3c9e","type":"delay","z":"c4b9c6d2a7c4479c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":320,"y":80,"wires":[["b8ae01c5d559c01a"]]}]