node_red/nodered_marstek_1_battery.json
[{"id":"f610ddf58aecd0c4","type":"tab","label":"Battery","disabled":false,"info":"","env":[]},{"id":"ea5c47bf32951548","type":"api-current-state","z":"f610ddf58aecd0c4","name":"M1 Power","server":"31cbd2f0.9d987e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.marstek_m1_ac_power","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"M1_power","propertyType":"flow","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":100,"y":120,"wires":[["62935d13fbe9c7c0","26f77f72297f5e57"]]},{"id":"62935d13fbe9c7c0","type":"api-current-state","z":"f610ddf58aecd0c4","name":"M1 SoC","server":"31cbd2f0.9d987e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.marstek_m1_battery_state_of_charge","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"M1_SoC","propertyType":"flow","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":100,"y":180,"wires":[["a17fcdf1963a7aac"]]},{"id":"b5b7bddee9c3ebf6","type":"debug","z":"f610ddf58aecd0c4","name":"P1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":40,"wires":[]},{"id":"d86608f2890cb7e0","type":"debug","z":"f610ddf58aecd0c4","name":"M1 watt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":160,"wires":[]},{"id":"73b839d45f688b5f","type":"api-call-service","z":"f610ddf58aecd0c4","name":"Output (dis)charge power M1","server":"31cbd2f0.9d987e","version":7,"debugenabled":false,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.marstek_m1_forcible_discharge_power","number.marstek_m1_forcible_charge_power"],"labelId":[],"data":"{\"value\":\"{{ payload }}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"number","service":"set_value","x":680,"y":160,"wires":[["d86608f2890cb7e0"]]},{"id":"51994027a867441b","type":"api-call-service","z":"f610ddf58aecd0c4","name":"Output charge/discharge","server":"31cbd2f0.9d987e","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.marstek_m1_forcible_charge_discharge"],"labelId":[],"data":"{\"option\":\"{{ payload }}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"select","service":"select_option","x":890,"y":100,"wires":[["8cc79a428fa4ca5e"]]},{"id":"84171b4b19a41fcf","type":"switch","z":"f610ddf58aecd0c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":100,"wires":[["6fd16dc832838109"],["8fa6dec6d46bf4ef"]]},{"id":"6fd16dc832838109","type":"change","z":"f610ddf58aecd0c4","name":"Charge","rules":[{"t":"set","p":"payload","pt":"msg","to":"charge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":80,"wires":[["8cc79a428fa4ca5e","51994027a867441b"]]},{"id":"8fa6dec6d46bf4ef","type":"change","z":"f610ddf58aecd0c4","name":"Discharge","rules":[{"t":"set","p":"payload","pt":"msg","to":"discharge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["8cc79a428fa4ca5e","51994027a867441b"]]},{"id":"8cc79a428fa4ca5e","type":"debug","z":"f610ddf58aecd0c4","name":"Charge/discharge","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":60,"wires":[]},{"id":"ad8016c6dfc83d2c","type":"debug","z":"f610ddf58aecd0c4","name":"Gewenste P1 vermogen","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":260,"wires":[]},{"id":"a17fcdf1963a7aac","type":"api-current-state","z":"f610ddf58aecd0c4","name":"Gewenste P1 vermogen","server":"31cbd2f0.9d987e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.gewenste_p1_vermogen","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"Gewenste_P1_vermogen","propertyType":"flow","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":150,"y":260,"wires":[["ad8016c6dfc83d2c","4a52324482600bf4"]]},{"id":"4a52324482600bf4","type":"api-current-state","z":"f610ddf58aecd0c4","name":"M1 control mode","server":"31cbd2f0.9d987e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.marstek_m1_rs485_control_mode","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"M1_rs485_mode","propertyType":"flow","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":130,"y":340,"wires":[["e682aaaedf626edd"]]},{"id":"0718c4710700610e","type":"server-state-changed","z":"f610ddf58aecd0c4","name":"P1 Watt","server":"31cbd2f0.9d987e","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.p1_meter_active_power"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"P1_power","propertyType":"flow","value":"","valueType":"entityState"}],"x":90,"y":40,"wires":[["ea5c47bf32951548","b5b7bddee9c3ebf6"]]},{"id":"26f77f72297f5e57","type":"debug","z":"f610ddf58aecd0c4","name":"P1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"e682aaaedf626edd","type":"function","z":"f610ddf58aecd0c4","name":"Berekeningen","func":"var P1_power = flow.get(\"P1_power\"); // verbruik is positief\nvar Gewenste_P1_vermogen = flow.get(\"Gewenste_P1_vermogen\");\nvar M1_power = flow.get(\"M1_power\"); // laden is negatief\nvar M1_power_soll = flow.get(\"M1_power_soll\"); // vorige consigne\nvar M1_SoC = flow.get(\"M1_SoC\");\nvar M1_boven_hysterese_geweest = flow.get(\"M1_boven_hysterese_geweest\");\nvar M1_rs485_mode = flow.get(\"M1_rs485_mode\");\n\nvar Laden = true;\nvar M1_fractie_laden = 0; \nvar M1_fractie_ontladen = 0; \n\nvar afzwakking = 1;\n\nif (M1_SoC > 20) {\n    M1_boven_hysterese_geweest = true;\n}\n\nif (M1_rs485_mode != \"enable\") {\n    M1_power = 0;\n}\n\nif (M1_SoC <= 11 || isNaN(M1_power_soll) || M1_rs485_mode != \"enable\") {\n    M1_boven_hysterese_geweest = false;\n}\n\nif (Math.abs(M1_power - M1_power_soll) < 50 || M1_rs485_mode != \"enable\") {\n    M1_power = M1_power_soll;\n    afzwakking = 0.2;\n}\n\nvar Delta = P1_power - Gewenste_P1_vermogen;\nvar Saldo = M1_power + Delta;\n\nif (Saldo > 0) {\n    Laden = false;\n}\nSaldo = Math.abs(Saldo);\n\nif (Laden) {\n    if (M1_SoC < 100 && M1_rs485_mode == \"enable\") {\n        M1_fractie_laden = 1;\n    }\n    M1_power_soll = -(Math.round((-1 * afzwakking * M1_power + (1 - afzwakking) * Math.min(Saldo * M1_fractie_laden, 2500)) * 10) / 10);\n} else {\n    if (M1_SoC > 10 && M1_rs485_mode == \"enable\") {\n        M1_fractie_ontladen = 1;\n    }\n    M1_power_soll = Math.round((afzwakking * M1_power + (1 - afzwakking) * Math.min(Saldo * M1_fractie_ontladen, 2500)) * 10) / 10;\n}\n\nflow.set(\"M1_power_soll\", M1_power_soll);\nflow.set(\"M1_boven_hysterese_geweest\", M1_boven_hysterese_geweest);\n\n// Resultaten\nlet msg1 = { payload: Laden };\nlet msg2 = { payload: Math.abs(M1_power_soll) };\nlet msg3 = { payload: null };\nlet msg4 = null;\n\nreturn [msg1, msg2];\n","outputs":2,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"M1_power_soll\", 0);\nflow.set(\"M2_power_soll\", 0);\nflow.set(\"M1_boven_hysterese_geweest\",false);\nflow.set(\"M2_boven_hysterese_geweest\",false);\nflow.set(\"mono_bedrijf\", true);","finalize":"","libs":[],"x":380,"y":180,"wires":[["84171b4b19a41fcf"],["73b839d45f688b5f"]]},{"id":"31cbd2f0.9d987e","type":"server","name":"Home Assistant","addon":true}]